.hello {
  width: 100%;
  padding: 7em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello span {
  font-size: 1.2rem;
}

.hello span strong {
  font-size: 1.5rem;
}

.hello h1 {
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
}

.hello h2 {
  background: linear-gradient(
    100deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 50%,
    var(--gradient-color-3) 100%
  );
  display: inline-block;
  color: transparent;
  background-clip: text;
  font-size: 2.3rem;
  font-weight: 900;
  text-align: center;
}

.hello p {
  max-width: 100%;
  text-align: center;
  margin-top: 1em;
  font-size: 1.1rem;
}

@media (min-width: 425px) {
  .hello h1 {
    font-size: 2.8rem;
  }

  .hello h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) {
  .hello p {
    font-size: 1.2rem;
    width: 85%;
  }

  .hello h1 {
    font-size: 4rem;
  }

  .hello h2 {
    font-size: 3.5rem;
  }

  .hello span {
    font-size: 1.4rem;
  }

  .hello span strong {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .hello {
    align-items: flex-start;
    padding: 8em 0;
  }

  .hello p {
    text-align: left;
    width: 60%;
  }

  .hello h1 {
    font-size: 4.5rem;
  }
}
