.blog-section {
  width: 100%;
}

.blog-section-header {
  width: 100%;
  padding-bottom: 0.6em;
  border-bottom: 1px solid var(--gray-4);
  margin-bottom: 1.8em;
  font-size: 1.8rem;
}

.blog-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
