.projects-section {
  width: 100%;
}

.projects-section-header {
  width: 100%;
  padding-bottom: 0.6em;
  border-bottom: 1px solid var(--gray-4);
  margin-bottom: 4em;
}

.projects-section-header h3 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--black);
}

.projects-section-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .projects-section-header h3 {
    font-size: 3.6rem;
  }
}
