.action-button {
  padding: 0.7em 2.5em 0.7em 1.5em;
  margin-top: 2em;
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
  font-size: 1.2rem;
}

.action-button svg {
  position: absolute;
  left: 7em;
  margin-left: 0.8em;
  fill: var(--black);
}

.action-button:hover {
  padding: 0.7em 3em 0.7em 1.5em;
  background: var(--black);
  color: var(--white);
}

.action-button:hover svg {
  fill: var(--white);
  animation-name: dance;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes dance {
  0% {
    left: 7em;
  }
  100% {
    left: 7.8em;
  }
}
