:root {
  --black: #1d1d1d;
  --gray-1: #333333;
  --gray-2: #515151;
  --gray-3: #969696;
  --gray-4: #d6d6d6;
  --gray-5: #f5f5f5;
  --white: #ffffff;

  --gradient-color-1: #f34743;
  --gradient-color-2: #ec8247;
  --gradient-color-3: #feb83f;

  --header-background: #07070d;
  --footer-background: #f5f5f5;
}

/* Dark mode */
html[data-theme='dark'] {
  --black: #effbf1;
  --gray-1: #effbf1;
  --gray-2: #effbf1;
  --gray-3: #effbf1;
  --gray-4: #effbf1;
  --gray-5: #effbf1;
  --white: #07070d;

  --gradient-color-1: #22b455;
  --gradient-color-2: #80ce87;
  --gradient-color-3: #92e5a1;

  --header-background: #07070d;
  --footer-background: transparent;
}
